<!DOCTYPE html>
<html>
  <head>
    <title>Category</title>
    <link href="/css/flaconMilleniumDefault.css" rel="stylesheet" type="text/css">
    <link href="/css/menu.css" rel="stylesheet" type="text/css">
    <link href="/css/popup.css" rel="stylesheet" type="text/css">
    <!-- <link href="/css/category.css" rel="stylesheet" type="text/css"> -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/categoryFonctions.js"></script>
  </head>

  <body>
    <%- include('../menu.ejs') %>
    <div id="content">
      <h1>Category</h1>

      <!-- Message display area -->
      <div>
        <table>
          <div id="editorForm"></div>
          <tr>
            <td>name</td>
            <td>description</td>
          </tr>
          <% for(var i=0; i < data.length; i++) { %>
            <tr>
              <td><%= data[i].name %></td>
              <td><%= data[i].description %></td>
              <td><a href="/category/unit?id=<%= data[i].id %>">Detail</a></td> 
              <td><button type="button" class="open-button" onclick="createForm('patchById', '/category/unit', '<%= data[i].id %>', '<%= data[i].name %>', '<%= data[i].description %>')">Edit</button></td> 
              <td><button type="button" onclick="deleteById('/category/unit','<%= data[i].id %>')">Delete</button></td> 
            </tr>
          <% } %>
        </table>
        <button type="button" class="open-button" onclick="createForm('postById', '/category/unit')">Add a category</button>
      </div>
    </div>
  </body>
</html>
