<!DOCTYPE html>
<html>
  <head>
    <title>Producer</title>
    <link href="/css/flaconMilleniumDefault.css" rel="stylesheet" type="text/css">
    <link href="/css/menu.css" rel="stylesheet" type="text/css">
    <link href="/css/popup.css" rel="stylesheet" type="text/css">
    <link href="/css/view.css" rel="stylesheet" type="text/css">
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script defer  type="text/javascript" src="/js/defaultFunctions.js"></script>
  </head>

  <body>
    <%- include('../menu.ejs') %>
    <div id="content">
      <h1>Producer</h1>


      <!-- Message display area -->
      <div>
        <div id="editorProducerForm"></div>
        <table>
          <tr id="fieldProducer">
            <td name ="name" type="text" required="required">name</td>
            <td name ="address" type="text" required="">address</td>
            <td name ="region" type="text" required="">region</td>
            <td name ="country" type="text" required="">country</td>
            <td name ="comment" type="text" required="">comment</td>
            <td name ="phone" type="number" required="">phone</td>
            <td name ="email" type="text" required="">email</td>
            <td name ="website" type="text" required="">website</td>
          </tr>
          <tr id="<%= data.id %>">
            <td name ="name"><%= data.name %></td>
            <td name ="address"><%= data.address %></td>
            <td name ="region"><%= data.region %></td>
            <td name ="country"><%= data.country %></td>
            <td name ="comment"><%= data.comment %></td>
            <td name ="phone"><%= data.phone %></td>
            <td name ="email"><%= data.email %></td>
            <td name ="website"><%= data.website %></td>
            
            <td><button type="button" class="open-button" onclick="createForm('/producer/unit', 'editorProducerForm',  'fieldProducer',  '<%= data.id %>')">Edit</button></td> 
            <td><button type="button" onclick="deleteById('/producer/unit','<%= data.id %>')">Delete</button></td> 
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
