<!DOCTYPE html>
<html>
  <head>
    <title>Accompaniment</title>
    <link href="/css/flaconMilleniumDefault.css" rel="stylesheet" type="text/css">
    <link href="/css/menu.css" rel="stylesheet" type="text/css">
    <link href="/css/popup.css" rel="stylesheet" type="text/css">
    <link href="/css/list.css" rel="stylesheet" type="text/css">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script defer  type="text/javascript" src="/js/defaultFonctions.js"></script>
    <script type="text/javascript" src="/js/accompanimentFonctions.js"></script>
  </head>

  <body>
    <%- include('../menu.ejs') %>
    <div id="content">
      <h1>Accompaniment</h1>

      <!-- Message display area -->
      <div>
        <table>
          <div id="editorAccompanimentForm"></div>
          <tr>
            <td>dishType</td>
            <td>description</td>
          </tr>
          <% for(var i=0; i < data.length; i++) { %>
            <tr>
              <td><%= data[i].dishType %></td>
              <td><%= data[i].description %></td>
              <td><a href="/accompaniment/unit?id=<%= data[i].id %>">Detail</a></td> 
              <td><button type="button" class="open-button" onclick="createAccompanimentForm('patchAccompanimentById', '/accompaniment/unit', '<%= data[i].id %>', '<%= data[i].dishType %>', '<%= data[i].description %>')">Edit</button></td> 
              <td><button type="button" onclick="deleteById('/accompaniment/unit','<%= data[i].id %>')">Delete</button></td> 
            </tr>
          <% } %>
        </table>
        <button type="button" class="open-button" onclick="createAccompanimentForm('postAccompanimentById', '/accompaniment/unit')">Add an accompaniment</button>
      </div>
    </div>
  </body>
</html>
