<!DOCTYPE html>
<html>
  <head>
    <title>Accompaniment</title>
    <link href="/css/flaconMilleniumDefault.css" rel="stylesheet" type="text/css">
    <link href="/css/menu.css" rel="stylesheet" type="text/css">
    <link href="/css/popup.css" rel="stylesheet" type="text/css">
    <link href="/css/view.css" rel="stylesheet" type="text/css">
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script defer  type="text/javascript" src="/js/defaultFonctions.js"></script>
    <script type="text/javascript" src="/js/accompanimentFonctions.js"></script>
  </head>

  <body>
    <%- include('../menu.ejs') %>
    <div id="content">
      <h1>Accompaniment</h1>


      <!-- Message display area -->
      <div>
        <div id="editorAccompanimentForm"></div>
        <div id="test22"></div>
        <table>
          <tr>
            <td>dishType</td>
            <td>description</td>
          </tr>
          <tr>
            <td><%= data.dishType %></td>
            <td><%= data.description %></td>
            <td><button type="button" class="open-button" onclick="createAccompanimentForm('patchAccompanimentById', '/accompaniment/unit', '<%= data.id %>', '<%= data.dishType %>', '<%= data.description %>')">Edit</button></td> 
            <td><button type="button" onclick="deleteById('/accompaniment/unit','<%= data.id %>')">Delete</button></td> 
          </tr>
        </table>
      </div>
    </div>

    <script>
    window.onload = function() {
      $('#test22').html("test succes")
    }
</script>
  </body>
</html>
