<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <link href="/css/forum.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <h1>Forum</h1>
    <!-- Information area-->
    <div class="information">
      <h4>Welcome to the forum for the fans of the drink</h4>
      <div id="gif">
        <iframe src="https://giphy.com/embed/bKBM7H63PIykM" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed"></iframe>
      </div>
      <hr>
    </div>



    <!-- Message display area -->
    <div class="history">
        <table>
            <% for(var i=0; i < data.length; i++) { %>
               <tr>
                 <td><%= data[i].content %></td>
                 <td><small>Post by: <%= data[i].author %>  <%= data[i].date.getDate() %>-<%= data[i].date.getMonth() %>-<%= data[i].date.getYear() %></small></td>
                 <script>
                   console.log('test');
                 </script>
               </tr>
            <% } %>
            </table>
    </div>
    <hr>

    <!-- Message post area-->
    <div id="comment">
      <form action="http://localhost:3000/forum/comment" method="POST">

        <label>Comment: </label>
        <input name="content" type="text" placeholder="Comment" required='required'/><br/><br/>
        
        <% 
        if(user == null)
            {
        %>
            <small style="color: red"> Please login to post your messages</small>
        <%
            }
            else{
          %>
            <input type="submit" value="Submit"/>
          <%  
            }
          %>
        
      </form>
    </div>
  </body>
</html>
