<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <link href="/css/forum.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <h1>Forum</h1>
    <!-- Zone d'information -->
    <div class="information">
      <h4>Bienvue sur le forum destiné(e) aux fans de la boisson</h4>
      <div id="gif">
        <iframe src="https://giphy.com/embed/bKBM7H63PIykM" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed"></iframe>
      </div>
      <hr>
    </div>



    <!-- Zone d'affichage des messages -->
    <div class="historique">
        <table>
            <% for(var i=0; i < data.length; i++) { %>
               <tr>
                 <td><%= data[i].content %></td>
                 <td><small>Posté par: <%= data[i].auteur %>  <%= data[i].date.getDate() %>-<%= data[i].date.getMonth() %>-<%= data[i].date.getYear() %></small></td>
                 <script>
                   console.log('test');
                 </script>
               </tr>
            <% } %>
            </table>
    </div>
    <hr>

    <!-- Zone de poste des messages-->
    <div id="commentaire">
      <form action="http://localhost:3000/forum/comment" method="POST">

        <label>Commentaire: </label>
        <input name="content" type="text" placeholder="Commentaire" required='required'/><br/><br/>
        
        <% 
        if(user == null)
            {
        %>
            <small style="color: red"> Veuillez vous connecter pour poster vos messages</small>
        <%
            }
            else{
          %>
            <input type="submit" value="Poster"/>
          <%  
            }
          %>
        
      </form>
    </div>
  </body>
</html>
