<!DOCTYPE html>
<html>
  <head>
    <title>ServedWith</title>
    <link href="/css/loader.css" rel="stylesheet" type="text/css">
    <link href="/css/flaconMilleniumDefault.css" rel="stylesheet" type="text/css">
    <link href="/css/menu.css" rel="stylesheet" type="text/css">
    <link href="/css/popup.css" rel="stylesheet" type="text/css">
    <link href="/css/list.css" rel="stylesheet" type="text/css">

    <script defer  src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script defer  type="text/javascript" src="/js/defaultFunctions.js"></script>
  </head>


  <body>
    <%- include('../loader.ejs')%>
    <div class="inner">
      <%- include('../menu.ejs') %>
      <div id="content">
        <h1>ServedWith</h1>

        <!-- Message display area -->
        <div>
          <div id="editorServedWithForm"></div>
          <table>
            <tr id="fieldServedWith">

              <td name ="dishName" type="text" required="required">dishName</td>
              <td name ="description" type="text" required="required">description</td>
              <td name ="IDaccompaniment" type="text" identifier="IDaccompaniment" required="">IDaccompaniment</td>
            </tr>
            <% for(var i=0; i < data.length; i++) { %>
              <tr id="<%= data[i].id %>">
                <td name ="dishName"><%= data[i].dishName %></td>
                <td name ="description"><%= data[i].description %></td>
                <td name ="IDaccompaniment" onload="getAccompanimentName(this, '<%= data[i].IDaccompaniment %>')" identifier="<%= data[i].IDaccompaniment %>"> </td>

                <td><a href="/servedwith/unit?id=<%= data[i].id %>">Detail</a></td> 
                <td><button type="button" class="open-button" onclick="createServedWithForm('/servedwith/unit', 'editorServedWithForm',  'fieldServedWith',  '<%= data[i].id %>')">Edit</button></td> 
                <td><button type="button" onclick="deleteById('/servedwith/unit','<%= data[i].id %>')">Delete</button></td> 
              </tr>
            <% } %>
          </table>
          <button type="button" class="open-button" onclick="createServedWithForm('/servedwith/unit', 'editorServedWithForm', 'fieldServedWith')">Add a servedwith</button>
        </div>
      </div> 
    </div>

    <script>
      async function getAccompanimentName(element, IDaccompaniment){
        const accompaniment = await getById ('/accompaniment/unit', IDaccompaniment)
        element.innerHTML = accompaniment.dishType
      }


      async function createServedWithForm (path, formId, referenceId, id) {
        var functionName = 'postById'
        var tittle = 'Add'
        if (id) {
          functionName = 'patchById'
          tittle = 'Edit'
        }


        var content = `<div class="form-popup" >
                        <form class="form-container" onsubmit = "event.preventDefault(); myValidation();">
                          <h1>`+ tittle +`</h1>
                          <div class="form-input">`

        for (let index = 0; index < $('#' + referenceId + ' > td').length; index++) {
          var name = $('#' + referenceId + ' > td:nth-of-type(' + Number(index + 1) + ')').attr('name')
          var type = $('#' + referenceId + ' > td:nth-of-type(' + Number(index + 1) + ')').attr('type')
          var patern = $('#' + referenceId + ' > td:nth-of-type(' + Number(index + 1) + ')').attr('patern')
          var identifier = $('#' + referenceId + ' > td:nth-of-type(' + Number(index + 1) + ')').attr('identifier')
          var required = $('#' + referenceId + ' > td:nth-of-type(' + Number(index + 1) + ')').attr('required')
          var value = ''

          if (id) {
            value = $('#' + id + ' > td[name=\'' + name + '\']').text()
          }

          if(identifier){
            var accompanimentList = await getList('/accompaniment/list')
            if (id) {
              value = $('#' + id + ' > td[name=\'' + name + '\']').attr('identifier')
            }else{
              value = accompanimentList[0]._id
            }
            content += '<label for="' + name + '"><b>' + capitalizeFirstLetter(name) + `</b></label>
                <input type="hidden" value="` + value + '" placeholder="' + name + '" name="' + name + '" patern="' + patern + '" required="' + required + `" />
                <br />`

            content += `<select onchange="changeSelectValue(this, '` + formId + `', '` + name + `')">`

            for (let index = 0; index < accompanimentList.length; index++) {
              content += ` <option value="`+ accompanimentList[index]._id+`" `
              if(value === accompanimentList[index]._id){
                content += ` selected="true" `
              }
              content += `>`+ accompanimentList[index].dishType+` </option>`
            }
            content += `</select>`
          }else{
            content += '<label for="' + name + '"><b>' + capitalizeFirstLetter(name) + `</b></label>
                <input type="` + type + '" value="' + value + '" placeholder="' + name + '" name="' + name + '" patern="' + patern + '" required="' + required + `" />
                <br />`
          }
        }
        content += `</div>
                    <br />
                    <button type="submit" class="btn" onclick="` + functionName + '(\'' + path + '\', \'' + formId + '\', \'' + referenceId + '\',\'' + id + `')" >Submit</button> </br>
                    <button type="button" class="btn cancel" onclick="closeForm('` + formId + `')" >Cancel</button>
                    </form>
                  </div>`

        document.getElementById(formId).innerHTML = content
      }

    </script>
  </body>
</html>
