<!DOCTYPE html>
<html>
  <head>
    <title>Image</title>
    <link href="/css/flaconMilleniumDefault.css" rel="stylesheet" type="text/css">
    <link href="/css/menu.css" rel="stylesheet" type="text/css">
    <link href="/css/popup.css" rel="stylesheet" type="text/css">
    <link href="/css/view.css" rel="stylesheet" type="text/css">
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script defer  type="text/javascript" src="/js/defaultFonctions.js"></script>
    <script type="text/javascript" src="/js/imageFonctions.js"></script>
  </head>

  <body>
    <%- include('../menu.ejs') %>
    <div id="content">
      <h1>Image</h1>


      <!-- Message display area -->
      <div>
        <div id="editorImageForm"></div>
        <table>
          <tr>
            <td>accessPath</td>
          </tr>
          <tr>
            <td><%= data.accessPath %></td>
            <td><button type="button" class="open-button" onclick="createImageForm('patchImageById', '/image/unit', '<%= data.id %>', '<%= data.accessPath %>')">Edit</button></td> 
            <td><button type="button" onclick="deleteById('/image/unit','<%= data.id %>')">Delete</button></td> 
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
