<!DOCTYPE html>
<html>
  <head>
    <title>Storage</title>
    <link href="/css/flaconMilleniumDefault.css" rel="stylesheet" type="text/css">
    <link href="/css/menu.css" rel="stylesheet" type="text/css">
    <link href="/css/popup.css" rel="stylesheet" type="text/css">
    <link href="/css/view.css" rel="stylesheet" type="text/css">

    <script defer  src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script defer  type="text/javascript" src="/js/defaultFonctions.js"></script>
    <script defer  type="text/javascript" src="/js/storageFonctions.js"></script>
  </head>

  <body>
    <%- include('../menu.ejs') %>
    <div id="content">
      <h1>Storage</h1>

      <!-- Message display area -->
      <div>
        <div id="editorStorageForm"></div>
        <table>
          <tr>
            <td>location</td>
            <td>name</td>
            <td>nbLigne</td>
            <td>nbColone</td>
            <td>nbPlace</td>
            <td>description</td>
          </tr>
            <tr>
              <td><%= data.location %></td>
              <td><%= data.name %></td>
              <td><%= data.nbLigne %></td>
              <td><%= data.nbColone %></td>
              <td><%= data.nbPlace %></td>
              <td><%= data.description %></td>
              <td><button type="button" class="open-button" onclick="createStorageForm('patchStorageById', '/storage/unit', '<%= data.id %>', '<%= data.location %>', '<%= data.name %>', '<%= data.nbLigne %>', '<%= data.nbColone %>', '<%= data.nbPlace %>', '<%= data.description %>')">Edit</button></td> 
              <td><button type="button" onclick="deleteById('/storage/unit','<%= data.id %>')">Delete</button></td> 
            </tr>
        </table>
      </div>
    </div>
  </body>
</html>
