<!DOCTYPE html>
<html>
  <head>
    <title>Storage</title>
    <link href="/css/flaconMilleniumDefault.css" rel="stylesheet" type="text/css">
    <link href="/css/menu.css" rel="stylesheet" type="text/css">
    <link href="/css/storage.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <%- include('../menu.ejs') %>
    <div id="content">
      <h1>Storage</h1>
      
      <!-- Storage post area-->
      <div>
        <form action="/storage/edit/<%= data[0].id %>" method="POST">

          <label>Add a storage: </label><br/>
          <input name="location" type="text" value="<%= data[0].location %>"  required='required'/><br/>
          <input name="name" type="text" value="<%= data[0].name %>"  required='required'/><br/>
          <input name="nbLigne" type="text" value="<%= data[0].nbLigne %>"  required='required'/><br/>
          <input name="nbColone" type="text" value="<%= data[0].nbColone %>"  required='required'/><br/>
          <input name="nbPlace" type="text" value="<%= data[0].nbPlace %>"  required='required'/><br/>
          <input name="description" type="text" value="<%= data[0].description %>"/><br/><br/>
          
          <% 
          if(user == null)
              {
          %>
              <small style="color: red"> Please login to post your messages</small>
            <%
              }
              else{
            %>
              <input type="submit" value="Submit"/>
            <%  
              }
            %> 
        </form>
      </div>
    </div>
  </body>
</html>
