<!DOCTYPE html>
<html>
  <head>
    <title>Size</title>
    <link href="/css/flaconMilleniumDefault.css" rel="stylesheet" type="text/css">
    <link href="/css/menu.css" rel="stylesheet" type="text/css">
    <link href="/css/popup.css" rel="stylesheet" type="text/css">
    <link href="/css/list.css" rel="stylesheet" type="text/css">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script defer  type="text/javascript" src="/js/defaultFunctions.js"></script>
  </head>

  <body>
    <%- include('../menu.ejs') %>
    <div id="content">
      <h1>Size</h1>

      <!-- Message display area -->
      <div>
        <table>
          <div id="editorSizeForm"></div>
            <tr id="fieldSize">
              <td name ="name" type="text" required="required">name</td>
              <td name ="size" type="number" required="required">size</td>
              <td name ="description" type="text" required="">description</td>
            </tr>
            <% for(var i=0; i < data.length; i++) { %>
              <tr id="<%= data[i].id %>">
                <td name ="name"><%= data[i].name %></td>
                <td name ="size"><%= data[i].size %></td>
                <td name ="description"><%= data[i].description %></td>

                <td><a href="/size/unit?id=<%= data[i].id %>">Detail</a></td> 
                <td><button type="button" class="open-button" onclick="createForm('/size/unit', 'editorSizeForm',  'fieldSize',  '<%= data[i].id %>')">Edit</button></td> 
                <td><button type="button" onclick="deleteById('/size/unit','<%= data[i].id %>')">Delete</button></td> 
              </tr>
            <% } %>
        </table>
        <button type="button" class="open-button" onclick="createForm('/size/unit', 'editorSizeForm', 'fieldSize')">Add a size</button>
      </div>
    </div>
  </body>
</html>
